@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(140, 82, 255);
}

.container {
    width: 1000px;
    height: 550px;
    /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./Images/background-img.jpeg); */
    margin: 20px auto;
}